.link{
    display: grid;
    place-items: center;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 10px;
    height: 40px;
    width: 85px;
    letter-spacing: 1px;
    font-size: 13px;
    text-decoration: none;
   /* box-shadow: inset 0 0 0 0 #ad5072; */
    text-align: center;
    border: none;
    transition: ease-out 0.3s;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 2px;
    }
.link:hover{
    box-shadow: inset 90px 0 0 0 #ad5072;
    height: 40px;
    width: 85px;
}
.link:active{
    box-shadow: inset 90px 0 0 0 #ad5072;
   
    height: 40px;
    width: 85px;
}